html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section:hover .background-spring {
  transform: scale(1.1);
}

.background-spring {
  width: 100%;
  height: 100%;
  background: url('/images/primavera.jpg');
  background-size: cover;
  background-position: center;
  padding-right: 0px;
  transition: all 0.5s;
}

.background-spring::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #f98866;
}

.section:hover .background-summer {
  transform: scale(1.2);
}

.background-summer {
  width: 100%;
  height: 100%;
  background: url('/images/verano.jpg');
  background-size: cover;
  background-position: center;
  padding-right: 0px;
  transition: all 0.5s;
}

.background-summer::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #89da59;
}

.section:hover .background-autumn {
  transform: scale(1.2);
}

.background-autumn {
  width: 100%;
  height: 100%;
  background: url('/images/otono.jpg');
  background-size: cover;
  background-position: center;
  padding-right: 0px;
  transition: all 0.5s;
}

.background-autumn::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #ff420e;
}

.section:hover .background-winter {
  transform: scale(1.2);
}

.background-winter {
  width: 100%;
  height: 100%;
  background: url('/images/invierno.jpg');
  background-size: cover;
  background-position: center;
  padding-right: 0px;
  transition: all 0.5s;
}

.background-winter::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: #80bd9e;
}

.section span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 20%;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left bottom;
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  padding: 0;
  white-space: nowrap;
}

.background-autumn button {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.background-autumn:hover button {
  opacity: 1;
  display: block;
}

.background-spring button {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.background-spring:hover button {
  opacity: 1;
  display: block;
}

.background-summer button {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.background-summer:hover button {
  opacity: 1;
  display: block;
}

.background-winter button {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.background-winter:hover button {
  opacity: 1;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navbar {
  width: 100%;
  height: 10vh;
  left: 0;
  top: 0;
  position: fixed;
  background: #fff;
  z-index: 111;
}

.navbar-img {
  height: 100%;
}

.navbar-hashtag {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-10%, -50%);
  color: #333;
  font-size: 30px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .section {
    height: 50vh;
  }

  .uk-button {
    display: none !important;
  }

  .section span {
    top: 6%;
    display: none;
  }
}
